:root {
  --font-family-primary: 'Montserrat', sans-serif;;

  // line heights
  --line-height-s: 24.38px;
  --line-height-m: 48px;
  --line-height-l: 58.51px;

  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.93rem;
  --font-size-m: 1.3rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}
