.box {
  display: flex;
}

.button {
  all: unset;
  color: #FFF;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 28px;
  border-radius: 4px;
  transition: 0.3s;

  &:focus-visible {
    outline: 2px solid white;
  }
}

.primary {
  border-radius: 0px 0px 0px 20px;
  font-family: 'Montserrat',  sans-serif;
  background: linear-gradient(270deg, #6800FF -4.62%, #888 100%);
  transition: 0.3s;
  font-size: 20px;
  width: 9.08rem;
  //&:hover {
  //  background: var(--color-accent-300);
  //  transition: 0.3s;
  //}

  &:active {
    //background: var(--color-accent-300);
    color: pink;
  }

  &:focus-visible {
    background: var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-accent-900);

    svg {
      fill: var(--color-light-900);
    }
  }
}

.secondary {
  background: black;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:hover {
    background: var(--color-dark-100);
    transition: 0.3s;
  }

  &:active {
    background: var(--color-dark-500);
  }

  &:focus-visible {
    background: var(--color-dark-300);
  }

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-dark-300);

    svg {
      fill: var(--color-light-900);
    }
  }
}

.tertiary {
  color: white;
  outline: 1px solid black;
  //background: var(--color-dark-500);
  outline-color: white;
  transition: 0.3s;

  &:hover {

  }

  &:active {
    background: var(--color-accent-900);
    outline-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    outline-color: var(--color-accent-900);
  }
}

.link {
  color: white;

  &:hover {
    color: purple;
    transition: 0.3s;
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:focus-visible {
    border-radius: 20px;
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
