.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 20px;
  border-radius: 0px 20px ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  width: 200px;
  color: white;


  .img {
    border-radius:  20px; ;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .content {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    border: 1px solid yellow;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .totalDescription {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .buttonC {
    margin-top: 10px;
  }

  .name,
  .totalDescription,
  .Price {
    margin-bottom: 10px;
  }
}